/* Cores do site */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName{
    color: #4c05ff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
}

.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}



@keyframes popUp {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(2);
        opacity: 1;
    }
}


.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Ou 'absolute', dependendo do layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  pointer-events: none; 
}

.welcome-box {
    position: relative;
    width: 350px; /* Ajuste conforme necessário */
    padding: 100px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    pointer-events: auto; 
}


.close-btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #0000
}

.welcome-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 23px 5px black;
}

.welcome-text {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .footer-icon {
      display: flex; /* Garante que os ícones fiquem lado a lado */
      justify-content: center; /* Centraliza os ícones na div */
      gap: 15px; /* Espaçamento entre os ícones */
  }
  .footer-icon .btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do ícone */
    border: none; /* Remove a borda */
    border-radius: 50%; /* Torna os botões circulares */
    transition: all 0.3s ease; /* Suaviza a transição para o hover */
}

.footer-icon .btn i {
    font-size: 20px; /* Tamanho do ícone */
}

.footer-icon .btn:hover {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão ligeiramente */
}
  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Garante que o texto também esteja centralizado */
    }

 .contador-visitantes {
        padding: 20px;
        
        
        width: fit-content;
        margin: auto; /* Centraliza o contador */
    }

    .contador-visitantes a {
        border: none; /* Remove a borda do link, se houver */
    }

    .contador-visitantes img {
        /* Personalizações da imagem aqui, se necessário */
        max-width: 100px; /* Exemplo: Limita a largura da imagem */
        border-radius: 5px; /* Bordas arredondadas na imagem */
    }
    
        .container3 {
            text-align: center;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .battery-icon3 {
            width: 50px;
            height: auto;
            vertical-align: middle;
        }    
 
:root{
            --color-white: #fff;
            --color-dark1: rgb(39, 39, 39);
            --color-dark2: greenyellow;
            --color-dark3: black;
            --color-dark4: #1c1c1c;
            --color-dark5: #343434;
            --color-purple: #b040ff;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#wrapper #content-wrapper {
    background-color: #0B1622;
    width: 100%;
    overflow-x: hidden
}

#wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}
.container,
.container-fluid,
.container-login {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.parceiro-imagem {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Torna a imagem redonda */
    margin-right: 5px; /* Adiciona um espaço à direita da imagem */
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #310404 url(https://wallpaperaccess.com/full/8351171.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
section {
  padding: 40px;
  text-align: center;
  background-color: rgba(240, 280, 240, 0.05); /* Fundo branco com 80% de opacidade */
  margin: 20px 0;
  border-radius: 10px;
  
}

section2 {
  padding: 40px;
  text-align: center;
  background-color: black
  border-radius: 10px;
}

.side-bar{
  background: rgba(000,000,000 , 0.2);
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.5s ease;
  transition-property: left;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 35px;
  text-shadow: 7px 7px 7px black;
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 40px;
}

.side-bar .menu .item a:hover{
  transition: 0.3s ease;

}

.side-bar .menu .item i{
  margin-right: 10px;
}

.side-bar .menu .item a .dropdown{
  background: rgba(000,000,000 , 0.0);
  position: absolute;
  right:0;
  margin: 13px;
  transition: 0.3s ;
}
.sub-btn{
  text-shadow: 7px 7px 7px black;
  background: rgba(000,000,000 , 0.0);
}
.side-bar .menu .item .sub-menu{
  background: transparent;
  display:none;
  box-shadow: 0 0 5px white;
  
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
  box-shadow: 0 0 5px white;
  
}

.rotate{
  transform: rotate(90deg);
}
.item{
  box-shadow: 0 0 2px white;
  border-radius: 9px;
  margin: 5px;
}
.close-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
  
}
.menu-btn i{
 
}

.menu-btn{
  position: absolute;
  color: #fff;
  font-size: 25px;
  margin: 17px;
  cursor:pointer;
  
}
.fe img{
  position: absolute;
  width: 30px;
  position: absolute;
  margin: 15px;
  margin-left: 90%;
  border-radius: 50%;
  box-shadow: 0 0 30px white;
}
h1{
  text-align: center;
  
  margin-top: 25px;
}

.ab i{
  border-radius: 50%;
  text-align: center;
  
}
.txt i {
  text-align: center;
  
  margin-top: 25px;
  font-size: 25px;
  margin-left: 25px;
  right: 1px;
  
}
.tutotxt {
  background-color: var(--color-dark3);
  border-radius: 7px;  
  margin: 24px;
  box-shadow: 0 0 7px darkgray;
  
  }
.fotos {
  width: 90%;
  border-radius: 7px;
}
.tutotxtt{
  
  margin: 7px;
  text-align: center;
}
.aaaa {
  
  margin: 5px;
}

.pedrozz{
color: black;
}
.pedrozz2{
color: #000000;

}
.pedrozz3{
color: #000000;

}
.cabeca{
color: #fffff,;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  box-shadow: 0 0 20px #ffffff;
}
.final{
  background-color: var(--color-dark3);
  margin-bottom: 0;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  box-shadow: 0 0 7px darkgray;
}

.ft{
  position: absolute;
  font-size: 20px;
  position: absolute;
  margin: 23px;
  margin-left: 90%;
  
}
.det{
  position: absolute;
  font-size: 18px;
  position: absolute;
  margin: 22px;
  margin-left: 79.9%;
  
  
}
ga{
  display: none;
  margin-top: 25px;
  background-color: var(--color-dark3);
}
.suba a{
  position: absolute;
  font-size: 20px;
  position: absolute;
  margin: 19px;
  margin-left: -720%;
  
  padding: 20px 43px;
  background-color: var(--color-dark3);
  transition: 0.5s ease;
  transition-property: left;
  
}
.suba p{
  position: absolute;
  font-size: 13px;
  position: absolute;
  margin-left: -500%;
  
  padding: 20px 40px;
  background-color: var(--color-dark1);
  box-shadow: 0 0 7px black;
  
}
.fe img{
  border: solid 1px white;
}
.visitas{
  background-color: var(--color-dark3);
  border-radius: 7px;  
  margin: 24px;
  box-shadow: 0 0 7px black;
  padding: 20px 30px;
}
.visitas h3{
  
}
.visitas img{
  width: 25%;
}

}
.bv{
  
}
.amigo{
  margin-top: 90%;
}
.menuzin {
  
  padding: 20px 30px;
}
.menuzin summary{
  
}
.menuzin a{
  text-decoration: none;
  
}
details {
  transition: 6.3s;
}
.sup{
  text-align: center;
}
.content {
    border-radius: 20px;
    overflow: hidden;
}

.navigation {
  
  display: flex;
}

.nov{
  
  text-align: center;
}

.bar {
    
    width: 20%;
    height: 20%;
    border: 2px solid red;
    margin: 6px;
    margin-top: 0;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
}

.bar:hover {
    background-color: darkred;
    
}

input {
  display: none;
}

.ain{
  width: 95%;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}
.content .slide img {
    width: 97%;
    border-radius: 15px;
}
#slide1:checked ~ .s1 {
    margin-left: -0%;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

.laranja{
    background-color: orange;
    transition: all 0.25s ease-in-out;
}
.vermelho{
    background-color: red;
    transition: all 0.25s ease-in-out;
}
.purpura{
    background-color: purple;
    transition: all 0.25s ease-in-out;
}

.contaimer button{
    padding: 10px 10px;
    border-radius: 50%;
    
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    margin: 0 px;
    border: 0;
}

div.contaimer{
    padding: 10px 20px;
    min-width: 90vw;
    text-align: center;
}

.laranja{
    background-color: orange;
    transition: all 0.25s ease-in-out;
    color: white;
}
.vermelho{
    background-color: red;
    transition: all 0.25s ease-in-out;
    color: white;
}
.purpura{
    background-color: white;
    transition: all 0.25s ease-in-out;
    color: white;
}

.contaimer button{
    padding: 10px 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    margin: 0 10px;
}

div.contaimer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90vw;
    text-align: center;
}
img{
  width: 100%;
}

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 13px;
  }

  .user-name {
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .footer{
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: white;
  background: black;
  margin: 0;
  padding: 15px;
  box-shadow: 0 0 3px white;
}
.footer a{
  color: red;
  text-decoration: none;
}
.video-container{
margin: 10px;
}
.ip h3 {
text-align: center;
}
.center-image {
  text-align: center;
  margin-top: 20px;
}

.center-image img {
  border-radius: 100%;
  width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 200px; /* Ajuste o tamanho da imagem conforme necessário */
 }    

   @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
